canvas {
    background-color:white ;
    border : 1px dotted;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

body {
    font-family: games;
}


#panel {
    width: 100vw;
    height: 100vh;
    background-repeat: repeat;
    background-image: url(https://cdelatorre.github.io/game_project_1/images/fondo.jpg);
    position: relative;
    size: cover;


    
}


body{
    margin: 0;
    padding: 0;
}
